* {
    box-sizing: border-box;
}

header {
    color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__h {
    font-size: 40px;
    margin: 30px;
}

.nav {
    display: flex;
    font-size: 20px;
    margin-left: auto;
}

.nav__items {
    font-weight: bold;
    display: flex;
}

.nav__items-item{
    margin: 20px;
}

.main__img {
    max-width: 100%;
}


img {
    position: relative;
    float: right;
    width: 60%;
    height: 500px;
    z-index: 10;
}

.main__text {
    font-size: 60px;
    display: inline;
    position: absolute;
        top: 480px;
}

.main__box {
    width: 60%;
    height: 150px;
    background-color: darkblue;
    z-index: 0;
    position: absolute;
        top: 550px;
}